[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=pter
Comment=Personal task management
GenericName=Tasks
TryExec=pter
Exec=pter
Terminal=true
Type=Application
Categories=Utility;Office;ConsoleOnly
