[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=qpter
Comment=Personal task management (Qt user interface)
GenericName=Tasks
TryExec=qpter
Exec=qpter
Terminal=false
Type=Application
Categories=Utility;Office;Qt
Actions=new

[Desktop Action new]
Name=New task
Comment=Create a task
Exec=qpter -a

